<h2 class="dialog-title">
  <mat-icon>tag</mat-icon>
  {{ name }}
</h2>

<!-- NAME -->
<div class="section">
  <label class="label">Channel-Name</label>
  <div class="row">
    <div># {{ name }}</div>
    <button *ngIf="!isSystemChannel && !editMode" mat-button (click)="editMode = true">
      Bearbeiten
    </button>
  </div>
  <mat-form-field *ngIf="editMode && !isSystemChannel" appearance="fill" class="full-width">
    <input matInput [(ngModel)]="name" />
  </mat-form-field>
</div>

<!-- BESCHREIBUNG -->
<div class="section">
  <label class="label">Beschreibung</label>
  <div class="row">
    <div>{{ description }}</div>
    <button *ngIf="!isSystemChannel && !editMode" mat-button (click)="editMode = true">
      Bearbeiten
    </button>
  </div>
  <mat-form-field *ngIf="editMode && !isSystemChannel" appearance="fill" class="full-width">
    <textarea matInput [(ngModel)]="description"></textarea>
  </mat-form-field>
</div>

<!-- ERSTELLT VON -->
<div class="section">
  <label class="label">Erstellt von</label>
  <div class="creator-name">{{ createdBy }}</div>
  <mat-form-field *ngIf="editMode && !isSystemChannel" appearance="fill" class="full-width">
    <input matInput [(ngModel)]="createdBy" />
  </mat-form-field>
</div>

<!-- BUTTONS -->
<div class="actions">
  <button mat-button (click)="cancel()">Abbrechen</button>
  <button mat-button *ngIf="editMode && !isSystemChannel" color="primary" (click)="saveChanges()">
    Speichern
  </button>
  <button
    mat-button
    class="leave-button"
    color="warn"
    *ngIf="!editMode"
    (click)="leaveChannel()"
  >
    Channel verlassen
  </button>
</div>
