<div class="new-message-wrapper">
  <h2 class="headline">Neue Nachricht</h2>

  <div class="recipient-bar">
    <div class="chip" *ngFor="let r of selectedRecipients">
      <img
        class="avatar"
        [src]="
          r.type === 'channel'
            ? 'assets/channel.png'
            : r.avatar || 'assets/default-avatar.png'
        "
        alt="Avatar"
      />

      <span class="name">{{ r.name }}</span>
      <button mat-icon-button class="remove" (click)="removeRecipient(r)">
        <mat-icon fontSize="small">close</mat-icon>
      </button>
    </div>

    <input
      [formControl]="recipientInput"
      placeholder="An: Benutzer oder Channel"
      (focus)="updateRecipientSuggestions(recipientInput.value || '')"
    />

    <ul class="suggestions" *ngIf="showRecipientSuggestions">
      <li
        *ngFor="let option of filteredRecipients"
        (click)="selectRecipient(option)"
      >
        <img
          class="avatar"
          [src]="
            option.type === 'channel'
              ? 'assets/channel.png'
              : option.avatar || 'assets/default-avatar.png'
          "
          alt="Avatar"
        />

        <div class="suggestion-label">
          <div class="name">{{ option.name }}</div>
          <div class="tag">
            {{ option.type === "channel" ? "#" : "@" }}{{ option.name }}
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="input-box">
    <textarea
      #textArea
      [(ngModel)]="message"
      (input)="onMessageInput()"
      placeholder="Starte eine neue Nachricht"
    ></textarea>

    <div class="input-footer">
      <div class="left-icons">
        <button
          type="button"
          (click)="toggleEmoji()"
          matTooltip="Emoji einfügen"
        >
          😊
        </button>
        <button
          type="button"
          (click)="toggleMentionPicker()"
          matTooltip="Person erwähnen"
        >
          &#64;
        </button>
        <button
          type="button"
          (click)="triggerFileInput()"
          matTooltip="Datei anhängen"
        >
          <mat-icon>attach_file</mat-icon>
        </button>
        <input
          type="file"
          hidden
          #fileInputRef
          (change)="onFileSelected($event)"
          multiple
        />
      </div>

      <div class="right-icons">
        <button
          type="button"
          class="send"
          (click)="sendMessage()"
          matTooltip="Nachricht senden"
        >
          <mat-icon>send</mat-icon>
        </button>
      </div>
    </div>

    <div class="emoji-picker" *ngIf="showEmojis">
      <span
        *ngFor="let emoji of emojis"
        class="emoji"
        (click)="addEmoji(emoji)"
      >
        {{ emoji }}
      </span>
    </div>

    <ul class="mention-suggestions" *ngIf="showMentionSuggestions">
      <li *ngFor="let user of mentionSuggestions" (click)="insertMention(user)">
        <img
          class="avatar"
          [src]="
            user.type === 'channel'
              ? 'assets/channel.png'
              : user.avatar || 'assets/default-avatar.png'
          "
          alt="Avatar"
        />

        <span>{{ user.name }}</span>
      </li>
    </ul>

    <div class="file-preview" *ngIf="selectedFiles.length > 0">
      <p>Dateien:</p>
      <ul>
        <li *ngFor="let file of selectedFiles">{{ file.name }}</li>
      </ul>
    </div>
  </div>
</div>
