<div class="dialog-wrapper">
  <div class="dialog-header">
    <h2>Channel erstellen</h2>
    <button mat-icon-button mat-dialog-close aria-label="Dialog schließen">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <p class="description">
    Channels dienen deinem Team zur Kommunikation. Am besten sollten sie themenbezogen sein <strong>#marketing</strong> zum Beispiel.
  </p>

  <!-- Channel-Name -->
<label class="field-label">Channel-Name</label>
<mat-form-field appearance="outline" class="pill-field">
  <span matPrefix>#&nbsp;</span>
  <input
    matInput
    [(ngModel)]="channelName"
    placeholder="z.B. Kooperationsprojekte"
  />
</mat-form-field>

<!-- Beschreibung -->
<label class="field-label">Beschreibung <span class="optional">(optional)</span></label>
<mat-form-field appearance="outline" class="pill-field">
  <textarea
    matInput
    [(ngModel)]="description"
    placeholder="Dein Text hier"
    rows="2"
  ></textarea>
</mat-form-field>


  <div class="actions">
    <button mat-flat-button color="primary" class="create-btn" (click)="nextStep()">Erstellen</button>
  </div>
</div>
