
<button *ngIf="!isLoginPage()" class="sidebar-toggle" (click)="toggleSidebar()">
  {{ isSidebarCollapsed ? 'Workspace Menü öffnen' : 'Workspace Menü schließen' }}
</button>


<div class="layout" 
     [class.sidebar-collapsed]="isSidebarCollapsed"
     [class.thread-open]="isThreadPanelOpen"
     [class.thread-closed]="!isThreadPanelOpen">

  <aside class="sidebar">
    <app-sidebar *ngIf="!isSidebarCollapsed"></app-sidebar>
  </aside>

  <main class="main">
    <app-chat-window [threadToggle]="openThreadPanel.bind(this)"></app-chat-window>
  </main>

  <section class="thread" *ngIf="isThreadPanelOpen">
    <app-thread-panel (closePanel)="closeThreadPanel()"></app-thread-panel>
  </section>
</div>
