<h2>Leute hinzufügen</h2>


<mat-radio-group *ngIf="data.mode === 'creation'" [(ngModel)]="mode" class="mode-group">
  <mat-radio-button value="all">
    Alle Mitglieder hinzufügen
  </mat-radio-button>
  <mat-radio-button value="selected">
    Bestimmte Leute hinzufügen
  </mat-radio-button>
</mat-radio-group>

<mat-form-field *ngIf="mode === 'selected'" appearance="outline" class="full-width">
  <input matInput [(ngModel)]="search" placeholder="Name eingeben" />
</mat-form-field>

<div class="autocomplete" *ngIf="mode === 'selected' && search">
  <div class="user-option" *ngFor="let user of filteredUsers()" (click)="addUser(user)">
    <img [src]="user.avatar" class="avatar" />
    <span>{{ user.name }}</span>
  </div>
</div>

<div class="selected-users" *ngIf="mode === 'selected' && selectedUsers.length">
  <span *ngFor="let user of selectedUsers">{{ user.name }}</span>
</div>

<div class="actions">
  <button mat-flat-button color="primary" (click)="confirm()">
    {{ data.mode === 'creation' ? 'Erstellen' : 'Hinzufügen' }}
  </button>
</div>
